<html>
    <body>
        <form method="POST" action="/new">
            <input type="text" name="author" placeholder="Who's the author?">
            <input type="text" name="message" placeholder="Enter your message">
            <button>Submit</button>
        </form>
        <a href="/">Back to the Message Board</a>
    </body>
</html>