<html>
    <body>
        <ul>
            <% messages.forEach((message) => { %>
                <%- 
                    include('message', 
                    {id: message.id, user: message.user,
                    message: message.text, time: message.added}); %>
            <% }); %> 
            <a href="/new">Create New Message</a>
        </ul>
    </body>
</html>