<html>
    <body>
        <div>Message author: <%= author %></div>
        <div>Message text: <%= text %></div>
        <div>Message added time: <%= time %></div>
        <a href="/">Back to the Message Board</a>
    </body>
</html>